*{
    box-sizing: border-box;
    overflow: hidden;
    
}
.a{
    margin: 0 15px;
    padding-bottom: 5px;
}

.a:hover{
    border-bottom:solid white 2px ;
}
.logo{
    color: white;
    font-size: 36px;
    margin: 10px;
    line-height: 80px;
    padding: 0 100px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
      display: inline-block;
      line-height: 60px;
      margin: 0 5px;
      font-size: 17px;
      text-transform: uppercase;
}

nav{
    width: 100%;
}

.a,ul{
   text-decoration: none;
   color: white;
   list-style: none;
}

.ck-btn{
    color: rgb(14, 13, 13);
    font-size: 30px;
    border: solid black 3px;
    float:right;
    padding: 0px 15px;
    background: #feda6a;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
    outline: black solid 3px;
}
#check{
    display: none;
}

span{
    border-bottom: solid 3px black;
    border-top:solid 3px black ;
}
@media (max-width:952px) {
    .logo{
        font-size: 30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}


@media (max-width:858px) {
    .ck-btn{
        display: block;
    }

    ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background-image:linear-gradient(rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.514)),url("pexels-jeremy-bishop-2923595.jpg");
        background-position:center;
        background-size: cover;
        top:80px;
        top: -200%;
        text-align: center;
        transition: all .5s;

    }
    nav ul li{
        display: block; 
    }
    nav ul li a{
        font-size: 20px
    }
    .a:hover,.a.active{
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul{
        top:10%;
        }
}

body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.514)),url("pexels-jeremy-bishop-2923595.jpg");
    background-position:right;
    background-size:cover;
    background-repeat:no-repeat;
    min-width:100%;
    min-height:100%;
    height:628px ;
   
  
}

form{
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.212);
    width:400px ;
    max-width: 80%;
    height: 700px;
    max-height: 60%;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.247);
    transition: all .5s;
}
.in{
    background: transparent;
    color: white;
    padding:10px 10px 10px 0px ;
    border: none;
    border-bottom: rgba(255, 255, 255, 0.452) solid 1px;
    margin: 1px 10px 15px 10px;
    width: 270px;
    outline: none;
}
.frame{
    margin-top: 80px;
   overflow: hidden;
    justify-content: center;
    height: 100vh;
    display: flex;
}



.login{
    border-radius: 50px;
    padding: 9px 75px;
    background: #feda6a;
    margin: 20px 0 0px 0;
    font-size: 14px;
    border: none;
}


.bg{
  
    margin: 30px auto 20px auto;
    background: rgba(0, 0, 0, 0.336);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 240px;
    overflow: hidden;
    border-radius: 50px;
}

.log{
    color: white;
    text-decoration: none;
    padding: 10px 38px;
}
.bgc{
    background:#feda6a ;
    border-radius: 50px;
    color: black;
}
  


